@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

/*desktop*/

@media(min-width:1024px){

    .redes{
        margin-top: 2rem;
        height: 50%;
        width: 100%;
    
        .infoContact{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            gap: 1rem;
        
            .contact{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
            }
        
            .title1{  
                color: black;
                font-family: 'Poppins', sans-serif;
                font-size: 130% ;
                font-weight: 600;}
        
            .title{
                color: black;
                font-family: 'Poppins', sans-serif;
                font-size: 100% ;
                font-weight: 600;
            }
        
            .info{
                color: black;
                font-family: 'Poppins', sans-serif;
                font-size: 100% ;
                font-weight: 300;
        
            }
        }
    
    }
    
    
    .parrafo{
        width: 50%;
        height: 50%;
        margin-left: 18px;
      
    }

    .parrafo1{
        width: 50%;
        height: 50%;
        margin-right: 18px;
        text-align: right;
    }
    
    .fotoArq{
        width:410px ;
        height: 80%;
        border-radius: 5px;
    }

    .presentacion1{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }

        main{
            
        .imgIndex{
            
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            
            .columna1{
                width: 43rem;
                height: 100%;

                .sizeImg{
                    width: 100%;
                    height: 27rem;
                }
            }
            .columna2{
                width: 15rem;
                height: 27.2rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .sizeImg2{
                    width: 100%;
                    height: 8.7rem;
                    background-image: url(../img/fondoP.jpg);
                }

                .info{
                    width: 100%;
                    height: 8.7rem; 
                    background-color: rgba(0, 0, 0, 0.869);
                    opacity: 0;
                    -webkit-transition: opacity 0.4s;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                }

                .sizeImg2:hover .info{
                    opacity: 2;
                }
               
            }
            .columna3{
                width: 25rem;
                height: 27.2rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .sizeImg3{
                    width: 100% ;
                    height: 18rem ;
                    background-image: url(../img/fondoP.jpg);
                }

                .info2{
                    width: 100%;
                    height: 18rem; 
                    background-color: rgba(0, 0, 0, 0.869);
                    opacity: 0;
                    -webkit-transition: opacity 0.4s;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                }

                .sizeImg3:hover .info2{
                    opacity: 2;

                }
                
                .sizeImg4{
                    width: 100%;
                    height: 8.7rem;
                    .sizeLogo{
                        width: 45%;
                        height: 100%;
                    }
                }
            }

            .nameIndex{
                font-family: 'Poppins', sans-serif;
                font-weight: 300;
                color: aliceblue;
                font-size:x-large;
            }
            
        }
    }
}

@media(min-width:1200px){
    
    main{
        
        .imgIndex{

            .imgSize2{
                width: 95%;
                height: 23.5rem;
                
            }
            
        }
    }

}

@media(min-width:1300px){
    
    main{
        
        .imgIndex{

            .imgSize2{
                width: 95%;
                height: 25.5rem;
                
            }
            
        }
    }

}
