@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

/*smartphone*/

*{
    margin: 0;
    padding: 0;
}


.navStyle{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 3.5%;
    margin-right: 3.5%;

    .size{
        width: 12rem;
        height: 11rem;
    }

    .size2{
        width: 8rem;
        height: 7rem;
    }
    

    .togglerStyle{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 3rem;
        padding: 0;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    }

    .navFont{
        color: black;
        font-family: 'Poppins', sans-serif;
        font-size: 0 ;
        font-weight: 400;
        margin: 0;
    }

}

.menu{
    border-bottom: 0.5px ridge rgba(0, 0, 0, 0.287);
    margin-left: 4%;
    margin-right: 4%;
    .lista{
        margin-right: 93%;
        &:hover{
          background-color: grey;
           
        }
    }
}


.redes{
    height: 50%;
    width: 100%;
    margin-top: 3rem ;
    .infoContact{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1rem;
    
        .contact{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
        }
    
        .title1{  
            color: rgb(0, 0, 0);
            font-family: 'Poppins', sans-serif;
            font-size: 130% ;
            font-weight: 600;}
    
        .title{
            color: black;
            font-family: 'Poppins', sans-serif;
            font-size: 100% ;
            font-weight: 600;
        }
    
        .info{
            color: black;
            font-family: 'Poppins', sans-serif;
            font-size: 100% ;
            font-weight: 300;
    
        }
    }

}

main{
    display: flex ;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 2rem;

    .imgIndex{

        width: 100%;
        height: 100%;

        .imgSize{
            width: 100%;
            height: 100%;
        }

        .colMobile{
            margin-top: 1.5rem;
            
            .imgMobile{
                width: 100%;
                height: 7rem;
            }
        }

        
        .imgSize1{
            width: 0;
            height: 0;
        }
        
        .imgSize2{
            width: 0;
            height: 0;
        }
        
        .sizeServ{
            display: none ;
        }
    }
}


.quienes1{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: black ;
    font-size: larger
}

.manifestoCont{
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    
}

.manifestoCont1{
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 1rem;
}

.manifestoCont2{
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}
.manifest{
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

    .pStyle{
        width: 60%;

        .pAlign{
            text-align: center;
        }
    }
}

.proyects{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    gap: 3rem ;

    .imgPr{
        background-image: url(../img/fondoP.jpg);
        border-radius: 7px;
        width: 18rem;
        height: 10rem; 
        }
    
}

.infor{
    width: 18rem;
    height: 10rem; 
    background-color: rgba(0, 0, 0, 0.83);
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 7px;
}

.namePr{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: aliceblue;
    font-size:larger; 
}

.ancla{
    text-decoration: none;
    list-style-type: none;
}

.imgPr:hover .infor{
    opacity: 2;
}

.manifesto{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    height: 80%;
    background-color: rgba(128, 128, 128, 0.059);
    border-radius: 5px;
}

.manifesto1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    height: 80%;

}

.manifesto2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 80%;

}

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.quienes{
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    color: black;
    font-weight: 400;
    font-size: larger;
    margin-left: 18px;
    margin-right: 18px;
}

.presentacion{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
 
}

.presentacion1{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
 
}

.parrafo{
    width: 90%;
    height: 50%;
    margin-left: 18px;
    margin-right: 18px;
}

.parrafo1{
    width: 90%;
    height: 50%;
    margin-left: 18px;
    margin-right: 18px;
}


.letra{
    font-family: 'Poppins', sans-serif;
    font-size: 70%;
    color: black;
    font-weight: 300;
}

.fotoArq{
    width:8rem ;
    height: 50%;
    border-radius: 5px;

}

.sectionForm{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: left;
    height: 100%;
    width: 100%;
}

.formulario{
    width:100%;
    height: 70%;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 7px;
    background-color: black;

    form{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left !important;
        gap: 1rem;
    }
}

.wpp-container{
    background-color: #fff;
    position: sticky;
    z-index: 999;
    border-radius: 50%;
    bottom: 25px;
    top: 80%;
    left: 80%;
    padding: 15px;
    margin: 0;
    width: 75px;
    height:75px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        transform: scale(1.1);
        transition: ease-in-out 0.3s;
        border: 0.5px ridge rgba(0, 0, 0, 0.535);
    }
    .btn-wpp{
        width: 5rem;
      
    }
}

.proyecto1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    
    .proyect1{
        width: 50%;
        height: 10fr;
        display: grid ;
        grid-template-areas: "img1 img3"
                            "img1  img2"
                                        ;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 5fr 5fr;
        
        .img1{
            grid-area: img1;
            border: 1px black solid;
        }
        
        .img2{
            grid-area: img2;
            border: 1px black solid;
         
        }
        
        .img3{
            grid-area: img3;
            border: 1px black solid;
         
        }
        
        
    }

    .descripcion{
        width: 50%;
        height: 100%;
    }
}



.cajaTexto{
    width: 100%;
    height: 10%;
}


input, textarea{
    width: 80%;
    height: auto;
    border-radius: 5px;
}

.tituloForm{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color:aliceblue ;
    font-size: 1.5rem;
}

footer{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.881);


    .fContainer{
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        margin-top: 3rem;
        margin-right: 5%;
        margin-left: 5%;
        .fContacto{
            display: flex;
            flex-direction: column;
            justify-content: space-between; 
        }
    }

    .fContainer1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1.5rem;
        margin-top: 3rem;
        margin-right: 5%;
        margin-left: 5%;
    }

    .fContainer2{
        width: 100%;
        height: 4rem;
        background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
        
    }

    .fP{ 
        font-family:'Poppins', sans-serif;
        font-weight: 400;
        color:aliceblue;
        font-size:small;
    }

    .fText{
        font-family:'Poppins', sans-serif;
        font-weight: 400;
        color:aliceblue;
        font-size: larger;
    }
}

