@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

/*tablet*/

@media(min-width:500px){
    
    .navStyle{

            
        .togglerStyle{

            width: 15rem;
            
        }

        .navFont{
            color: black;
            font-family: 'Poppins', sans-serif;
            font-size: 1.4rem ;
            font-weight: 400;
            margin: 0;
        }
    }
  

    .proyects{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-bottom: 3rem;
        gap: 1rem ;
    
        .imgPr{
            border: solid 1px black; 
            border-radius: 5px;
            width: 30rem;
            height: 20rem; 
            }
        
    }

    .infor{
        width: 30rem;
        height: 20rem; 
        background-color: rgba(0, 0, 0, 0.83);
        opacity: 0;
        -webkit-transition: opacity 0.5s;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 7px;
    }
    
    .namePr{
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        color: aliceblue;
        font-size:xx-large; 
    }

    .fotoArq{
        width:50% ;
        height: 90%;
        border-radius: 5px;
    }

    .letra{
        font-family: 'Poppins', sans-serif;
        font-size: 80%;
        color: black;
        font-weight: 400;
    }

    main{
        .imgIndex{
            .colMobile{
                .imgMobile{
                    width: 100%;
                    height: 10rem;
                }
            }
        }
    }

}

@media(min-width:600px) {


    .manifestoCont{
        width: 100%;
        height: 15rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
         
        .manifesto{
        
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 100%;
            height: 80%;
            background-color: rgba(128, 128, 128, 0.059);
            border-radius: 5px;
        }
        
    }
    
    .manifestoCont1{
        width: 100%;
        height: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        gap: 1rem;
        .manifesto1{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-start;
            width: 100%;
            height: 80%;
        }
    }
    
    .manifestoCont2{
        width: 100%;
        height: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        .manifesto2{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;
            align-items: flex-start;
            width: 100%;
            height: 80%;
        }
    }
    
    .letra{
        font-family: 'Poppins', sans-serif;
        font-size: 80%;
        color: black;
        font-weight: 400;
    }

    .quienes{
        font-family: 'Poppins', sans-serif;
        font-size: xx-large;
        color: black;
        font-weight: 400;
        margin-left: 18px;
    }
    
    .parrafo{
        margin-left: 18px;
        margin-right: 18px;
    }

    .parrafo1{
        margin-left: 18px;
        margin-right: 18px;
    }
    
    
    .fotoArq{
        width:50% ;
        height: 100%;
        border-radius: 5px;
    }
    .presentacion{
        width: 80%;
    }

    .presentacion1{
        width: 80%;
    }

    footer{
        
        .fContainer{
            width: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 1rem;
            margin-top: 3rem;
            margin-right: 5.5%;
            margin-left: 5.5%;
        }
     

        
        .fContainer1{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 3rem;
            margin-right: 5.5%;
            margin-left: 5.5%;
        }
        
    }
    
    
}

@media(min-width:768px){

    .wpp-container{
        background-color: #fff;
        position: sticky;
        z-index: 999;
        border-radius: 50%;
        bottom: 25px;
        top: 80%;
        left: 90%;
        padding: 15px;
        width: 75px;
        height:75px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        &:hover{
            transform: scale(1.1);
            transition: ease-in-out 0.3s;
            border: 0.5px ridge rgba(0, 0, 0, 0.535);
        }
        .btn-wpp{
            width: 5rem;
          
        }
    }

    .formulario{
        width: 488px;
        margin: auto;
        padding: 10px 20px;
        box-sizing: border-box;
        border-radius: 7px;
        background-color: black;
    }


    .quienes1{
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        color: black ;
        font-size:xx-large
    }

    .manifestoCont1{
        width: 100%;
        height: 40rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        gap: 1rem;
    }
    
    .manifestoCont2{
        width: 100%;
        height: 40rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
    }

    .letra{
        font-family: 'Poppins', sans-serif;
        font-size: 100%;
        color: black;
        font-weight: 400;
    }

    .fotoArq{
        width:70% ;
        height: 80%;
        border-radius: 5px;
    }

    .rowMobile{
        display: none;
        width:0;
        height: 0;
        .imgMobile{
            width: 0;
            height: 0;
        }
    }

    .sizeImg3{
        width: 95% ;
        height: 66% ;
        background-image: url(../img/inicio1.jpg);
        background-size: 100% 100% ;
    }
    
    .info2{
        width: 100%;
        height: 100%; 
        background-color: rgba(0, 0, 0, 0.869);
        opacity: 0;
        -webkit-transition: opacity 0.4s;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .sizeImg3:hover .info2{
        opacity: 2;
    }
    
        .sizeImg2{
            width: 100%;
            height: 32%;
            background-image: url(../img/fondoP.jpg);
            background-size: 100% 100% ;
        }
    
        .info{
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.869);
            opacity: 0;
            -webkit-transition: opacity 0.4s;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
    
        .sizeImg2:hover .info{
            opacity: 2;
        }    

    footer{
        .fP{ 
            font-family:'Poppins', sans-serif;
            font-weight: 400;
            color:aliceblue;
            font-size:medium;
        }
    
        .fText{
            font-family:'Poppins', sans-serif;
            font-weight: 400;
            color:aliceblue;
            font-size: x-large;
        }
    }
}

