@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap");
/*smartphone*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

.grilla {
  display: grid;
  grid-template-areas: "nav" "main2" "footer";
  grid-template-rows: 5% 90% 25%;
  grid-template-columns: 100%;
  background-color: white;
  gap: 2rem;
}

.grillaPr {
  display: grid;
  grid-template-areas: "nav" "main2" "footer";
  grid-template-rows: 3% 90% 7%;
  grid-template-columns: 100%;
  background-color: white;
  gap: 3rem;
}

.redes {
  height: 50%;
  width: 100%;
}
.redes .infoContact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}
.redes .infoContact .contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.redes .infoContact .title1 {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 130%;
  font-weight: 600;
}
.redes .infoContact .title {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 100%;
  font-weight: 600;
}
.redes .infoContact .info {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 100%;
  font-weight: 300;
}

.carrusel {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.carrusel .fondo {
  border-radius: 10px;
}

.grillaNos {
  display: grid;
  grid-template-areas: "nav" "main2" "footer";
  grid-template-rows: 5% 90% 20%;
  grid-template-columns: 100%;
  background-color: white;
  gap: 2rem;
}

nav {
  grid-area: nav;
}
nav .fl {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
nav .nombre {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: black;
  font-size: 2rem;
}

.size {
  width: 0;
  height: 0;
  margin-right: 15px;
}

main {
  grid-area: main2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 5%;
  margin-right: 5%;
}

.size2 {
  height: 80%;
  width: 100%;
}

.text {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: black;
  font-size: smaller;
}

.manifestoCont {
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.manifestoCont1 {
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 1rem;
}

.manifestoCont2 {
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.manifest {
  display: flex;
  width: 100%;
  height: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.manifest .pStyle {
  width: 60%;
}
.manifest .pStyle .pAlign {
  text-align: center;
}

.proyects {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  gap: 3rem;
}
.proyects .imgPr {
  background-image: url(../img/fondoP.jpg);
  border-radius: 7px;
  width: 18rem;
  height: 10rem;
}

.infor {
  width: 18rem;
  height: 10rem;
  background-color: rgba(0, 0, 0, 0.83);
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 7px;
}

.namePr {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: aliceblue;
  font-size: larger;
}

.ancla {
  text-decoration: none;
  list-style-type: none;
}

.imgPr:hover .infor {
  opacity: 2;
}

.manifesto {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  height: 80%;
  background-color: rgba(128, 128, 128, 0.059);
  border-radius: 5px;
}

.manifesto1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  height: 80%;
}

.manifesto2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  height: 80%;
}

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.quienes {
  font-family: "Poppins", sans-serif;
  font-size: medium;
  color: black;
  font-weight: 300;
  font-size: larger;
  margin-left: 18px;
  margin-right: 18px;
}

.presentacion {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.presentacion1 {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.parrafo {
  width: 90%;
  height: 50%;
  margin-left: 18px;
  margin-right: 18px;
}

.parrafo1 {
  width: 90%;
  height: 50%;
  margin-left: 18px;
  margin-right: 18px;
}

.letra {
  font-family: "Poppins", sans-serif;
  font-size: 70%;
  color: black;
  font-weight: 300;
}

.fotoArq {
  width: 8rem;
  height: 50%;
  border-radius: 5px;
}

.formulario {
  width: 100%;
  margin: auto;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 7px;
  background-color: black;
}

.cajaTexto {
  margin-top: 10px;
  margin-bottom: 20px;
}

input, textarea {
  width: 80%;
  border-radius: 5px;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: black;
  font-size: 3rem;
}

footer {
  grid-area: footer;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
}
footer .navFooter {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-right: 1px aliceblue solid;
  padding-right: 15px;
}
footer .fText {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: aliceblue;
  font-size: smaller;
  margin-top: 1rem;
  margin-left: 1rem;
}

/*tablet*/
@media (min-width: 500px) {
  .proyects {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    gap: 1rem;
  }
  .proyects .imgPr {
    background-image: url(../img/fondoP.jpg);
    border-radius: 5px;
    width: 27rem;
    height: 17rem;
  }

  .infor {
    width: 27rem;
    height: 17rem;
    background-color: rgba(0, 0, 0, 0.83);
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 7px;
  }

  .namePr {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: aliceblue;
    font-size: xx-large;
  }

  .fotoArq {
    width: 50%;
    height: 90%;
    border-radius: 5px;
  }

  .letra {
    font-family: "Poppins", sans-serif;
    font-size: 80%;
    color: black;
    font-weight: 300;
  }
}
@media (min-width: 600px) {
  .grilla {
    display: grid;
    grid-template-areas: "nav" "main2" "footer";
    grid-template-rows: 10% 90% 15%;
    grid-template-columns: 100%;
    background-color: white;
    gap: 2rem;
  }

  .grillaPr {
    display: grid;
    grid-template-areas: "nav" "main2" "footer";
    grid-template-rows: 5% 90% 10%;
    grid-template-columns: 100%;
    background-color: white;
    gap: 1rem;
  }

  .grillaNos {
    display: grid;
    grid-template-areas: "nav" "main2" "footer";
    grid-template-rows: 5% 90% 15%;
    grid-template-columns: 100%;
    background-color: white;
    gap: 4rem;
  }

  .size {
    width: 7rem;
    height: 6rem;
  }

  .manifestoCont {
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  .manifestoCont1 {
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 1rem;
  }

  .manifestoCont2 {
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
  }

  .manifesto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 80%;
    background-color: rgba(128, 128, 128, 0.059);
    border-radius: 5px;
  }

  .manifesto1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 80%;
  }

  .manifesto2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 80%;
  }

  .letra {
    font-family: "Poppins", sans-serif;
    font-size: 80%;
    color: black;
    font-weight: 300;
  }

  .quienes {
    font-family: "Poppins", sans-serif;
    font-size: xx-large;
    color: black;
    font-weight: 300;
    margin-left: 18px;
  }

  .parrafo {
    margin-left: 18px;
    margin-right: 18px;
  }

  .parrafo1 {
    margin-left: 18px;
    margin-right: 18px;
  }

  .fotoArq {
    width: 50%;
    height: 100%;
    border-radius: 5px;
  }

  .presentacion {
    width: 80%;
  }

  .presentacion1 {
    width: 80%;
  }
}
@media (min-width: 768px) {
  .formulario {
    width: 488px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 7px;
    background-color: black;
  }

  .size2 {
    height: 90%;
    width: 100%;
  }

  .text {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: black;
    font-size: larger;
  }

  .manifestoCont1 {
    width: 100%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 1rem;
  }

  .manifestoCont2 {
    width: 100%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
  }

  .letra {
    font-family: "Poppins", sans-serif;
    font-size: 100%;
    color: black;
    font-weight: 300;
  }

  .fotoArq {
    width: 70%;
    height: 80%;
    border-radius: 5px;
  }
}
/*desktop*/
@media (min-width: 1024px) {
  .redes {
    margin-top: 2rem;
    height: 50%;
    width: 100%;
  }
  .redes .infoContact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
  }
  .redes .infoContact .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .redes .infoContact .title1 {
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 130%;
    font-weight: 600;
  }
  .redes .infoContact .title {
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 100%;
    font-weight: 600;
  }
  .redes .infoContact .info {
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 100%;
    font-weight: 300;
  }

  .parrafo {
    width: 50%;
    height: 50%;
    margin-left: 18px;
  }

  .parrafo1 {
    width: 50%;
    height: 50%;
    margin-right: 18px;
    text-align: right;
  }

  .fotoArq {
    width: 410px;
    height: 80%;
    border-radius: 5px;
  }

  .presentacion1 {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
}/*# sourceMappingURL=estilos.css.map */