@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap");
/*smartphone*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

.navStyle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 3.5%;
  margin-right: 3.5%;
}
.navStyle .size {
  width: 12rem;
  height: 11rem;
}
.navStyle .size2 {
  width: 8rem;
  height: 7rem;
}
.navStyle .togglerStyle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 3rem;
  padding: 0;
}
.navStyle .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
.navStyle .navFont {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 0;
  font-weight: 400;
  margin: 0;
}

.menu {
  border-bottom: 0.5px ridge rgba(0, 0, 0, 0.287);
  margin-left: 4%;
  margin-right: 4%;
}
.menu .lista {
  margin-right: 93%;
}
.menu .lista:hover {
  background-color: grey;
}

.redes {
  height: 50%;
  width: 100%;
  margin-top: 3rem;
}
.redes .infoContact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}
.redes .infoContact .contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.redes .infoContact .title1 {
  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
  font-size: 130%;
  font-weight: 600;
}
.redes .infoContact .title {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 100%;
  font-weight: 600;
}
.redes .infoContact .info {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 100%;
  font-weight: 300;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 2rem;
}
main .imgIndex {
  width: 100%;
  height: 100%;
}
main .imgIndex .imgSize {
  width: 100%;
  height: 100%;
}
main .imgIndex .colMobile {
  margin-top: 1.5rem;
}
main .imgIndex .colMobile .imgMobile {
  width: 100%;
  height: 7rem;
}
main .imgIndex .imgSize1 {
  width: 0;
  height: 0;
}
main .imgIndex .imgSize2 {
  width: 0;
  height: 0;
}
main .imgIndex .sizeServ {
  display: none;
}

.quienes1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: black;
  font-size: larger;
}

.manifestoCont {
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.manifestoCont .manifesto {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  height: 80%;
  background-color: rgba(128, 128, 128, 0.059);
  border-radius: 5px;
}

.manifestoCont1 {
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 1rem;
}
.manifestoCont1 .manifesto1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  height: 80%;
}

.manifestoCont2 {
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}
.manifestoCont2 .manifesto2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  height: 80%;
}

.manifest {
  display: flex;
  width: 100%;
  height: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.manifest .pStyle {
  width: 60%;
}
.manifest .pStyle .pAlign {
  text-align: center;
}

.proyects {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  gap: 3rem;
}
.proyects .imgPr {
  background-image: url(../img/fondoP.jpg);
  border-radius: 7px;
  width: 18rem;
  height: 10rem;
}

.infor {
  width: 18rem;
  height: 10rem;
  background-color: rgba(0, 0, 0, 0.83);
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 7px;
}

.namePr {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: aliceblue;
  font-size: larger;
}

.ancla {
  text-decoration: none;
  list-style-type: none;
}

.imgPr:hover .infor {
  opacity: 2;
}

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.quienes {
  font-family: "Poppins", sans-serif;
  font-size: medium;
  color: black;
  font-weight: 400;
  font-size: larger;
  margin-left: 18px;
  margin-right: 18px;
}

.presentacion {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.presentacion1 {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.imgSize {
  width: 100%;
  height: 30%;
}

.sizeImg3 {
  width: 95%;
  height: 66%;
  background-image: url(../img/inicio1.jpg);
  background-size: 100% 100%;
}

.info2 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.869);
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.sizeImg3:hover .info2 {
  opacity: 2;
}

.sizeImg2 {
  width: 100%;
  height: 32%;
  background-image: url(../img/fondoP.jpg);
  background-size: 100% 100%;
}

.info {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.869);
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.sizeImg2:hover .info {
  opacity: 2;
}

.parrafo {
  width: 90%;
  height: 50%;
  margin-left: 18px;
  margin-right: 18px;
}

.parrafo1 {
  width: 90%;
  height: 50%;
  margin-left: 18px;
  margin-right: 18px;
}

.letra {
  font-family: "Poppins", sans-serif;
  font-size: 70%;
  color: black;
  font-weight: 300;
}

.fotoArq {
  width: 8rem;
  height: 50%;
  border-radius: 5px;
}

.sectionForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: 100%;
  width: 100%;
}

.formulario {
  width: 100%;
  height: 70%;
  margin: auto;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 7px;
  background-color: black;
}
.formulario form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left !important;
  gap: 1rem;
}

.wpp-container {
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  z-index: 999;
  border-radius: 50%;
  bottom: 25px;
  top: 80%;
  left: 80%;
  padding: 15px;
  margin: 0;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wpp-container:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.3s;
  border: 0.5px ridge rgba(0, 0, 0, 0.535);
}
.wpp-container .btn-wpp {
  width: 5rem;
}

.proyecto1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
.proyecto1 .proyect1 {
  width: 50%;
  height: 10fr;
  display: grid;
  grid-template-areas: "img1 img3" "img1  img2";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 5fr 5fr;
}
.proyecto1 .proyect1 .img1 {
  grid-area: img1;
  border: 1px black solid;
}
.proyecto1 .proyect1 .img2 {
  grid-area: img2;
  border: 1px black solid;
}
.proyecto1 .proyect1 .img3 {
  grid-area: img3;
  border: 1px black solid;
}
.proyecto1 .descripcion {
  width: 50%;
  height: 100%;
}

.cajaTexto {
  width: 100%;
  height: 10%;
}

input, textarea {
  width: 80%;
  height: auto;
  border-radius: 5px;
}

.tituloForm {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: aliceblue;
  font-size: 1.5rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.881);
}
footer .fContainer {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 3rem;
  margin-right: 5%;
  margin-left: 5%;
}
footer .fContainer .fContacto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .fContainer1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  margin-top: 3rem;
  margin-right: 5%;
  margin-left: 5%;
}
footer .fContainer2 {
  width: 100%;
  height: 4rem;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
footer .fP {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: aliceblue;
  font-size: small;
}
footer .fText {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: aliceblue;
  font-size: larger;
}

/*tablet*/
@media (min-width: 500px) {
  .navStyle .togglerStyle {
    width: 15rem;
  }
  .navStyle .navFont {
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0;
  }
  .proyects {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    gap: 1rem;
  }
  .proyects .imgPr {
    border: solid 1px black;
    border-radius: 5px;
    width: 30rem;
    height: 20rem;
  }
  .infor {
    width: 30rem;
    height: 20rem;
    background-color: rgba(0, 0, 0, 0.83);
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 7px;
  }
  .namePr {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: aliceblue;
    font-size: xx-large;
  }
  .fotoArq {
    width: 50%;
    height: 90%;
    border-radius: 5px;
  }
  .letra {
    font-family: "Poppins", sans-serif;
    font-size: 80%;
    color: black;
    font-weight: 400;
  }
  main .imgIndex .colMobile .imgMobile {
    width: 100%;
    height: 10rem;
  }
}
@media (min-width: 600px) {
  .manifestoCont {
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  .manifestoCont .manifesto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 80%;
    background-color: rgba(128, 128, 128, 0.059);
    border-radius: 5px;
  }
  .manifestoCont1 {
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 1rem;
  }
  .manifestoCont1 .manifesto1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 80%;
  }
  .manifestoCont2 {
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
  }
  .manifestoCont2 .manifesto2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 80%;
  }
  .letra {
    font-family: "Poppins", sans-serif;
    font-size: 80%;
    color: black;
    font-weight: 400;
  }
  .quienes {
    font-family: "Poppins", sans-serif;
    font-size: xx-large;
    color: black;
    font-weight: 400;
    margin-left: 18px;
  }
  .parrafo {
    margin-left: 18px;
    margin-right: 18px;
  }
  .parrafo1 {
    margin-left: 18px;
    margin-right: 18px;
  }
  .fotoArq {
    width: 50%;
    height: 100%;
    border-radius: 5px;
  }
  .presentacion {
    width: 80%;
  }
  .presentacion1 {
    width: 80%;
  }
  footer .fContainer {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 3rem;
    margin-right: 5.5%;
    margin-left: 5.5%;
  }
  footer .fContainer1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
    margin-right: 5.5%;
    margin-left: 5.5%;
  }
}
@media (min-width: 768px) {
  .wpp-container {
    background-color: #fff;
    position: -webkit-sticky;
    position: sticky;
    z-index: 999;
    border-radius: 50%;
    bottom: 25px;
    top: 80%;
    left: 90%;
    padding: 15px;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .wpp-container:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.3s;
    border: 0.5px ridge rgba(0, 0, 0, 0.535);
  }
  .wpp-container .btn-wpp {
    width: 5rem;
  }
  .formulario {
    width: 488px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 7px;
    background-color: black;
  }
  .quienes1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: black;
    font-size: xx-large;
  }
  .manifestoCont1 {
    width: 100%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 1rem;
  }
  .manifestoCont2 {
    width: 100%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
  }
  .letra {
    font-family: "Poppins", sans-serif;
    font-size: 100%;
    color: black;
    font-weight: 400;
  }
  .fotoArq {
    width: 70%;
    height: 80%;
    border-radius: 5px;
  }
  footer .fP {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: aliceblue;
    font-size: medium;
  }
  footer .fText {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: aliceblue;
    font-size: x-large;
  }
}
/*desktop*/
@media (min-width: 1024px) {
  .redes {
    margin-top: 2rem;
    height: 50%;
    width: 100%;
  }
  .redes .infoContact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
  }
  .redes .infoContact .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .redes .infoContact .title1 {
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 130%;
    font-weight: 600;
  }
  .redes .infoContact .title {
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 100%;
    font-weight: 600;
  }
  .redes .infoContact .info {
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 100%;
    font-weight: 300;
  }
  .parrafo {
    width: 50%;
    height: 50%;
    margin-left: 18px;
  }
  .parrafo1 {
    width: 50%;
    height: 50%;
    margin-right: 18px;
    text-align: right;
  }
  .fotoArq {
    width: 410px;
    height: 80%;
    border-radius: 5px;
  }
  .presentacion1 {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
}/*# sourceMappingURL=estilos.css.map */