@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

/*smartphone*/

*{
    margin: 0;
    padding: 0;
}

.grilla{
    display: grid;
    grid-template-areas:
    "nav"
    "main"
    "footer";
    grid-template-rows: 10% 12fr 15%;
    grid-template-columns: 100%;
    background-color: white;
    gap: 5rem;
}

nav{
    grid-area: nav;
}

.fl{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.nombre{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: black ;
    font-size: 2rem;
}

.size{
    width: 0;
    height: 0;
    margin-right: 15px;
}

.grillaIndex{
grid-area: main;
display: grid;
grid-template-areas:
"img"
"div" ;
grid-template-rows: 70% 30%;
margin-left: 5%;
margin-right: 5%;
}

.fondo{
    grid-area: img ;
}

.size2{
    height: 80%;
    width: 100%;
}

.contacto{
    grid-area: div;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.infoContact{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.text{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: black ;
    font-size: medium
}

.logo{
    width: 50px;
    height: 50px;
    margin-top: 15px;
}

.formulario{
    width:100%;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.501);
}

.cajaTexto{
    margin-top: 10px;
    margin-bottom: 20px;
}

input, textarea{
    width: 80%;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: black ;
    font-size: 3rem;
}

 footer{
    grid-area: footer; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;
    background-color: rgb(35, 35, 35);
}

.fText{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: white ;
    margin-left: 10px;
    font-size: medium;
}
/*tablet*/

@media(min-width:600px) {
    
    .grilla{
        display: grid;
        grid-template-areas:
        "nav"
        "main"
        "footer";
        grid-template-rows: 10% 12fr 15%;
        grid-template-columns: 100%;
        background-color: white;
        gap: 3rem;
        }

    .grillaIndex{
        grid-area: main;
        display: grid;
        grid-template-areas:
        "img"
        "div" ;
        grid-template-rows: 70% 30%;
        margin-left: 10%;
        margin-right: 10%;
        }

    .size{
        width: 7rem;
        height: 6rem;
    }

}

@media(min-width:768px){

    .formulario{
        width: 488px;
        margin: auto;
        padding: 10px 20px;
        box-sizing: border-box;
        border-radius: 7px;
        background-color: rgba(0, 0, 0, 0.501);
    }

    .size2{
        height: 90%;
        width: 100%;
    }

    .text{
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        color: black ;
        font-size: larger
    }
}

